.campo-texto {
    color: #212121;
    margin-bottom: 1.5rem;
}

.campo-texto__label {
    display: block;
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.campo-texto__input {
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: var(--fonte-texto);
    font-size: 1rem;
    line-height: 20px;
    padding: 1.875rem 1.375rem;
    width: 100%;
}

.campo-texto__input::placeholder {
    color: #AFAFAF;
}

@media screen and (max-width: 768px) {
    .campo-texto__input {
        padding: 1.5rem 1rem;
    }
}