.lista {
    color: #212121;
    margin-bottom: 1.5rem;
}

.lista__label {
    display: block;
    font-family: var(--fonte-texto);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0.5rem;
}

.lista__menu {
    appearance: none;
    background-image: url('../../../public/imagens/arrow_drop_down.svg');
    background-position: calc(100% - 22px) center;
    background-repeat: no-repeat;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: var(--fonte-texto);
    font-size: 1rem;
    line-height: 20px;
    padding: 1.875rem 1.375rem;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
    .lista__menu {
        padding: 1.5rem 1rem;
    }
}